body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbbc02;

}
.Form{
    background-color: #fff;
    padding: 25px 30px;

}

#Registrar{
    background-color: mediumblue;
    color: #fff;   
    border: 0px;
}